* {
    box-sizing: border-box;
}

/* INDEX */

.form-input {
    padding: 25px;
    background-color: #f8f9fa;
    margin: 20px 0;
    border-radius: 10px;
}


/* PRODUCT PAGE */

.product-page {
    background-color:  #dbdbdb;
    margin-top:2rem;
}

.product-image {
    width:100%;
}