* {
    box-sizing: border-box;
}

/* INDEX */

.form-input {
    padding: 25px;
    background-color: #f8f9fa;
    margin: 20px 0;
    border-radius: 10px;
}


/* PRODUCT PAGE */

.product-page {
    background-color:  #f8f9fa;
}

.product-image {
    height: 100px; 
    width:100px;
}